In [1]:
import pandas as pd

In [2]:
# to read the CSV file
movies_df = pd.read_csv(r'movies_metadata.csv', encoding='latin-1',  index_col="id")

In [3]:
movies_df.head(4)

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
id,,,,,,,,,,,,,,,,,,,,,
862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,FALSE,7.7,5415.0,NaN
8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,FALSE,6.9,2413.0,NaN
15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0,NaN
31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,FALSE,6.1,34.0,NaN

In [4]:
# 1. Write a Python Pandas program to get the columns of the DataFrame (movies_metadata.csv file).
movies_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'Unnamed: 24'],
      dtype='object')

In [5]:
# 2. Write a Pandas program to get the information of the DataFrame (movies_metadata.csv file)including data types and memory usage
movies_df.info

<bound method DataFrame.info of         adult                              belongs_to_collection    budget  \
id
862     False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
8844    False                                                NaN  65000000
15602   False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
31357   False                                                NaN  16000000
11862   False  {'id': 96871, 'name': 'Father of the Bride Col...         0
949     False                                                NaN  60000000
11860   False                                                NaN  58000000
45325   False                                                NaN         0
9091    False                                                NaN  35000000
710     False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
9087    False                                                NaN  62000000
12110   False                                                NaN         0
21032   False  {'id': 117693, 'name': 'Balto Collection', 'po...         0
10858   False                                                NaN  44000000
1408    False                                                NaN  98000000
524     False                                                NaN  52000000
4584    False                                                NaN  16500000
5       False                                                NaN   4000000
9273    False  {'id': 3167, 'name': 'Ace Ventura Collection',...  30000000
11517   False                                                NaN  60000000
8012    False  {'id': 91698, 'name': 'Chili Palmer Collection...  30250000
1710    False                                                NaN         0
9691    False                                                NaN  50000000
12665   False                                                NaN         0
451     False                                                NaN   3600000
16420   False                                                NaN         0
9263    False                                                NaN  12000000
17015   False                                                NaN         0
902     False                                                NaN  18000000
37557   False                                                NaN         0
9909    False                                                NaN         0
63      False                                                NaN  29500000
78802   False                                                NaN         0
9598    False  {'id': 9435, 'name': 'Babe Collection', 'poste...  30000000
47018   False                                                NaN         0
687     False                                                NaN  11000000
139405  False                                                NaN         0
33689   False                                                NaN         0
9603    False                                                NaN  12000000
34615   False                                                NaN         0
31174   False                                                NaN         0
11443   False                                                NaN  10000000
35196   False                                                NaN  19000000
9312    False  {'id': 9818, 'name': 'Mortal Kombat Collection...  18000000
577     False                                                NaN  20000000
11861   False                                                NaN  10000000
807     False                                                NaN  33000000
10530   False  {'id': 136214, 'name': 'Pocahontas Collection'...  55000000
8391    False                                                NaN         0
629     False                                                NaN   6000000

                                                   genres  \
id
862     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
8844    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
15602   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
31357   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11862                      [{'id': 35, 'name': 'Comedy'}]
949     [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
11860   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
45325   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9091    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
710     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
9087    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
12110   [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
21032   [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
10858   [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
1408    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
524     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
4584    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
5       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
9273    [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
11517   [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
8012    [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
1710    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
9691    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
12665   [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
451     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
16420                       [{'id': 18, 'name': 'Drama'}]
9263    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
17015   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
902     [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
37557   [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
9909    [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
63      [{'id': 878, 'name': 'Science Fiction'}, {'id'...
78802   [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
9598    [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
47018   [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
687                         [{'id': 18, 'name': 'Drama'}]
139405  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
33689   [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
9603    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
34615                       [{'id': 18, 'name': 'Drama'}]
31174   [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
11443   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
35196   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
9312    [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
577     [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
11861   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
807     [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
10530   [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
8391    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
629     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

                                                 homepage    imdb_id  \
id
862                  http://toystory.disney.com/toy-story  tt0114709
8844                                                  NaN  tt0113497
15602                                                 NaN  tt0113228
31357                                                 NaN  tt0114885
11862                                                 NaN  tt0113041
949                                                   NaN  tt0113277
11860                                                 NaN  tt0114319
45325                                                 NaN  tt0112302
9091                                                  NaN  tt0114576
710          http://www.mgm.com/view/movie/757/Goldeneye/  tt0113189
9087                                                  NaN  tt0112346
12110                                                 NaN  tt0112896
21032                                                 NaN  tt0112453
10858                                                 NaN  tt0113987
1408                                                  NaN  tt0112760
524                                                   NaN  tt0112641
4584                                                  NaN  tt0114388
5                                                     NaN  tt0113101
9273                                                  NaN  tt0112281
11517                                                 NaN  tt0113845
8012                                                  NaN  tt0113161
1710                                                  NaN  tt0112722
9691                                                  NaN  tt0112401
12665                                                 NaN  tt0114168
451     http://www.mgm.com/title_title.do?title_star=L...  tt0113627
16420                                                 NaN  tt0114057
9263                                                  NaN  tt0114011
17015                                                 NaN  tt0114117
902                                                   NaN  tt0112682
37557                                                 NaN  tt0115012
9909                                                  NaN  tt0112792
63                                                    NaN  tt0114746
78802                                                 NaN  tt0114952
9598                                                  NaN  tt0112431
47018                                                 NaN  tt0112637
687                                                   NaN  tt0112818
139405                                                NaN  tt0112286
33689                                                 NaN  tt0113442
9603                                                  NaN  tt0112697
34615                                                 NaN  tt0112749
31174                                                 NaN  tt0114279
11443                                                 NaN  tt0112819
35196                                                 NaN  tt0114272
9312                                                  NaN  tt0113855
577                                                   NaN  tt0114681
11861                                                 NaN  tt0113347
807                            http://www.sevenmovie.com/  tt0114369
10530                                                 NaN  tt0114148
8391                                                  NaN  tt0114916
629     http://www.mgm.com/#/our-titles/2083/The-Usual...  tt0114814

       original_language                    original_title  \
id
862                   en                         Toy Story
8844                  en                           Jumanji
15602                 en                  Grumpier Old Men
31357                 en                 Waiting to Exhale
11862                 en       Father of the Bride Part II
949                   en                              Heat
11860                 en                           Sabrina
45325                 en                      Tom and Huck
9091                  en                      Sudden Death
710                   en                         GoldenEye
9087                  en            The American President
12110                 en       Dracula: Dead and Loving It
21032                 en                             Balto
10858                 en                             Nixon
1408                  en                  Cutthroat Island
524                   en                            Casino
4584                  en             Sense and Sensibility
5                     en                        Four Rooms
9273                  en    Ace Ventura: When Nature Calls
11517                 en                       Money Train
8012                  en                        Get Shorty
1710                  en                           Copycat
9691                  en                         Assassins
12665                 en                            Powder
451                   en                 Leaving Las Vegas
16420                 en                           Othello
9263                  en                      Now and Then
17015                 en                        Persuasion
902                   fr        La CitÃ© des Enfants Perdus
37557                 zh                    Shanghai Triad
9909                  en                   Dangerous Minds
63                    en                    Twelve Monkeys
78802                 fr  Guillaumet, les ailes du courage
9598                  en                              Babe
47018                 en                        Carrington
687                   en                  Dead Man Walking
139405                en            Across the Sea of Time
33689                 en                      It Takes Two
9603                  en                          Clueless
34615                 en          Cry, the Beloved Country
31174                 en                       Richard III
11443                 en                   Dead Presidents
35196                 en                       Restoration
9312                  en                     Mortal Kombat
577                   en                        To Die For
11861                 en     How To Make An American Quilt
807                   en                             Se7en
10530                 en                        Pocahontas
8391                  en             When Night Is Falling
629                   en                The Usual Suspects

                                                 overview  popularity  ...  \
id                                                                     ...
862     Led by Woody, Andy's toys live happily in his ...   21.946943  ...
8844    When siblings Judy and Peter discover an encha...   17.015539  ...
15602   A family wedding reignites the ancient feud be...   11.712900  ...
31357   Cheated on, mistreated and stepped on, the wom...    3.859495  ...
11862   Just when George Banks has recovered from his ...    8.387519  ...
949     Obsessive master thief, Neil McCauley leads a ...   17.924927  ...
11860   An ugly duckling having undergone a remarkable...    6.677277  ...
45325   A mischievous young boy, Tom Sawyer, witnesses...    2.561161  ...
9091    International action superstar Jean Claude Van...    5.231580  ...
710     James Bond must unmask the mysterious head of ...   14.686036  ...
9087    Widowed U.S. president Andrew Shepherd, one of...    6.318445  ...
12110   When a lawyer shows up at the vampire's doorst...    5.430331  ...
21032   An outcast half-wolf risks his life to prevent...   12.140733  ...
10858   An all-star cast powers this epic look at Amer...    5.092000  ...
1408    Morgan Adams and her slave, William Shaw, are ...    7.284477  ...
524     The life of the gambling paradise Â– Las Vegas ...   10.137389  ...
4584    Rich Mr. Dashwood dies, leaving his second wif...   10.673167  ...
5       It's Ted the Bellhop's first night on the job....    9.026586  ...
9273    Summoned from an ashram in Tibet, Ace finds hi...    8.205448  ...
11517   A vengeful New York transit cop decides to ste...    7.337906  ...
8012    Chili Palmer is a Miami mobster who gets sent ...   12.669608  ...
1710    An agoraphobic psychologist and a female detec...   10.701801  ...
9691    Assassin Robert Rath arrives at a funeral to k...   11.065939  ...
12665   Harassed by classmates who won't accept his sh...   12.133094  ...
451     Ben Sanderson, an alcoholic Hollywood screenwr...   10.332025  ...
16420   The evil Iago pretends to be friend of Othello...    1.845899  ...
9263    Waxing nostalgic about the bittersweet passage...    8.681325  ...
17015   This film adaptation of Jane Austen's last nov...    2.228434  ...
902     A scientist in a surrealist society kidnaps ch...    9.822423  ...
37557   A provincial boy related to a Shanghai crime f...    7.192344  ...
9909    Former Marine Louanne Johnson lands a gig teac...    9.481338  ...
63      In the year 2035, convict James Cole reluctant...   12.297305  ...
78802                                                 NaN    0.745542  ...
9598    Babe is a little pig who doesn't quite know hi...   14.404764  ...
47018   The story of the relationship between painter ...    1.493361  ...
687     A justice drama based on a true story about a ...    6.891317  ...
139405  A young Russian boy, Thomas Minton, travels to...    0.114469  ...
33689   Identical 9-year-olds from very different back...    7.777735  ...
9603    Shallow, rich and socially successful Cher is ...    9.882383  ...
34615   A South-African preacher goes to search for hi...    0.894647  ...
31174   Shakespeare's Play transplanted into a 1930s s...    4.561387  ...
11443   Depicts a heist of old bills, retired from cir...    9.879570  ...
35196   An aspiring young physician, Robert Merivel fo...   10.979269  ...
9312    For nine generations an evil sorcerer has been...   10.870138  ...
577     Susan wants to work in television and will the...   10.448481  ...
11861   Soon-to-be-wed graduate student Finn Dodd deve...    4.485958  ...
807     Two homicide detectives are on a desperate hun...   18.457430  ...
10530   History comes gloriously to life in Disney's e...   13.280069  ...
8391    A prudish woman, working on tenure as a litera...    3.302524  ...
629     Held in an L.A. interrogation room, Verbal Kin...   16.302466  ...

          revenue runtime                                   spoken_languages  \
id
862     373554033      81           [{'iso_639_1': 'en', 'name': 'English'}]
8844    262797249     104  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15602           0     101           [{'iso_639_1': 'en', 'name': 'English'}]
31357    81452156     127           [{'iso_639_1': 'en', 'name': 'English'}]
11862    76578911     106           [{'iso_639_1': 'en', 'name': 'English'}]
949     187436818     170  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
11860           0     127  [{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...
45325           0      97  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
9091     64350171     106           [{'iso_639_1': 'en', 'name': 'English'}]
710     352194034     130  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
9087    107879496     106           [{'iso_639_1': 'en', 'name': 'English'}]
12110           0      88  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
21032    11348324      78           [{'iso_639_1': 'en', 'name': 'English'}]
10858    13681765     192           [{'iso_639_1': 'en', 'name': 'English'}]
1408     10017322     119  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
524     116112375     178           [{'iso_639_1': 'en', 'name': 'English'}]
4584    135000000     136           [{'iso_639_1': 'en', 'name': 'English'}]
5         4300000      98           [{'iso_639_1': 'en', 'name': 'English'}]
9273    212385533      90           [{'iso_639_1': 'en', 'name': 'English'}]
11517    35431113     103           [{'iso_639_1': 'en', 'name': 'English'}]
8012    115101622     105           [{'iso_639_1': 'en', 'name': 'English'}]
1710            0     124  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
9691     30303072     132  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12665           0     111           [{'iso_639_1': 'en', 'name': 'English'}]
451      49800000     112           [{'iso_639_1': 'en', 'name': 'English'}]
16420           0     123           [{'iso_639_1': 'en', 'name': 'English'}]
9263     27400000     100           [{'iso_639_1': 'en', 'name': 'English'}]
17015           0     104           [{'iso_639_1': 'en', 'name': 'English'}]
902       1738611     108  [{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...
37557   30/4/1995       0                                                108
9909    180000000      99           [{'iso_639_1': 'en', 'name': 'English'}]
63      168840000     129  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
78802           0      50           [{'iso_639_1': 'en', 'name': 'English'}]
9598    254134910      89           [{'iso_639_1': 'en', 'name': 'English'}]

In [6]:
# 3. Write a Pandas program to get the details of the third movie of the DataFrame (movies_metadata.csv file).
movies_df.iloc[2]

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    22/12/1995
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                FALSE
vote_average                                                           6.5
vote_count                                                              92
Unnamed: 24                                                            NaN
Name: 15602, dtype: object

In [7]:
# 4. Write a Pandas program to count the number of rows and columns of the DataFrame
movies_df.shape

(50, 24)

In [8]:
# 5. Write a Pandas program to get the details of the columns title and genres of the DataFrame.
#details = movies_df[['title', 'genres']]
#details

In [9]:
# 6. Write a Pandas program to get the details of the movie with title 'Grumpier Old Men'
#grumpier = movies_df.loc['Grumpier Old Men']
#grumpier
movies_df[movies_df['title'] == "Grumpier Old Men"]

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
id,,,,,,,,,,,,,,,,,,,,,
15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0,NaN

In [10]:
# 7. Write a Pandas program to get the details of  fifth movie of the DataFrame.
movies_df.iloc[4]

adult                                                                False
belongs_to_collection    {'id': 96871, 'name': 'Father of the Bride Col...
budget                                                                   0
genres                                      [{'id': 35, 'name': 'Comedy'}]
homepage                                                               NaN
imdb_id                                                          tt0113041
original_language                                                       en
original_title                                 Father of the Bride Part II
overview                 Just when George Banks has recovered from his ...
popularity                                                         8.38752
poster_path                               /e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies     [{'name': 'Sandollar Productions', 'id': 5842}...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                     10/2/1995
revenue                                                           76578911
runtime                                                                106
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Just When His World Is Back To Normal... He's ...
title                                          Father of the Bride Part II
video                                                                FALSE
vote_average                                                           5.7
vote_count                                                             173
Unnamed: 24                                                            NaN
Name: 11862, dtype: object

In [11]:
# 8. Write a Pandas program to create a smaller DataFrame with a subset of all features.
small_df = movies_df[['title', 'release_date', 'budget', 'revenue', 'runtime']]
small_df

,title,release_date,budget,revenue,runtime
id,,,,,
862,Toy Story,30/10/1995,30000000,373554033,81
8844,Jumanji,15/12/1995,65000000,262797249,104
15602,Grumpier Old Men,22/12/1995,0,0,101
31357,Waiting to Exhale,22/12/1995,16000000,81452156,127
11862,Father of the Bride Part II,10/2/1995,0,76578911,106
949,Heat,15/12/1995,60000000,187436818,170
11860,Sabrina,15/12/1995,58000000,0,127
45325,Tom and Huck,22/12/1995,0,0,97
9091,Sudden Death,22/12/1995,35000000,64350171,106
710,GoldenEye,16/11/1995,58000000,352194034,130
9087,The American President,17/11/1995,62000000,107879496,106
12110,Dracula: Dead and Loving It,22/12/1995,0,0,88
21032,Balto,22/12/1995,0,11348324,78
10858,Nixon,22/12/1995,44000000,13681765,192
1408,Cutthroat Island,22/12/1995,98000000,10017322,119
524,Casino,22/11/1995,52000000,116112375,178
4584,Sense and Sensibility,13/12/1995,16500000,135000000,136
5,Four Rooms,9/12/1995,4000000,4300000,98
9273,Ace Ventura: When Nature Calls,10/11/1995,30000000,212385533,90
11517,Money Train,21/11/1995,60000000,35431113,103
8012,Get Shorty,20/10/1995,30250000,115101622,105
1710,Copycat,27/10/1995,0,0,124
9691,Assassins,6/10/1995,50000000,30303072,132
12665,Powder,27/10/1995,0,0,111
451,Leaving Las Vegas,27/10/1995,3600000,49800000,112
16420,Othello,15/12/1995,0,0,123
9263,Now and Then,20/10/1995,12000000,27400000,100
17015,Persuasion,27/9/1995,0,0,104
902,The City of Lost Children,16/5/1995,18000000,1738611,108
37557,In 1930's Shanghai violence was not the proble...,"[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",0,30/4/1995,0
9909,Dangerous Minds,11/8/1995,0,180000000,99
63,Twelve Monkeys,29/12/1995,29500000,168840000,129
78802,Wings of Courage,18/9/1996,0,0,50
9598,Babe,18/7/1995,30000000,254134910,89
47018,Carrington,8/11/1995,0,0,121
687,Dead Man Walking,29/12/1995,11000000,39363635,122
139405,Across the Sea of Time,20/10/1995,0,0,51
33689,It Takes Two,17/11/1995,0,0,101
9603,Clueless,19/7/1995,12000000,0,97
34615,"Cry, the Beloved Country",15/12/1995,0,676525,106
31174,Richard III,29/12/1995,0,0,104
11443,Dead Presidents,6/10/1995,10000000,0,119
35196,Restoration,29/12/1995,19000000,0,117
9312,Mortal Kombat,18/8/1995,18000000,122195920,101
577,To Die For,20/5/1995,20000000,21284514,106
11861,How To Make An American Quilt,6/10/1995,10000000,23574130,116
807,Se7en,22/9/1995,33000000,327311859,127
10530,Pocahontas,14/6/1995,55000000,346079773,81
8391,When Night Is Falling,5/5/1995,0,0,96
629,The Usual Suspects,19/7/1995,6000000,23341568,106

In [12]:
# 9. Write a Pandas program to display the first 10 rows of the DataFrame.
small_df.head(10)

                             title release_date    budget    revenue  runtime
id
862                      Toy Story   30/10/1995  30000000  373554033       81
8844                       Jumanji   15/12/1995  65000000  262797249      104
15602             Grumpier Old Men   22/12/1995         0          0      101
31357            Waiting to Exhale   22/12/1995  16000000   81452156      127
11862  Father of the Bride Part II    10/2/1995         0   76578911      106
949                           Heat   15/12/1995  60000000  187436818      170
11860                      Sabrina   15/12/1995  58000000          0      127
45325                 Tom and Huck   22/12/1995         0          0       97
9091                  Sudden Death   22/12/1995  35000000   64350171      106
710                      GoldenEye   16/11/1995  58000000  352194034      130

In [13]:
# 10. Write a Pandas program to sort the DataFrame based on release_date.
release = small_df[['title','release_date']]
release

,title,release_date
id,,
862,Toy Story,30/10/1995
8844,Jumanji,15/12/1995
15602,Grumpier Old Men,22/12/1995
31357,Waiting to Exhale,22/12/1995
11862,Father of the Bride Part II,10/2/1995
949,Heat,15/12/1995
11860,Sabrina,15/12/1995
45325,Tom and Huck,22/12/1995
9091,Sudden Death,22/12/1995
710,GoldenEye,16/11/1995
9087,The American President,17/11/1995
12110,Dracula: Dead and Loving It,22/12/1995
21032,Balto,22/12/1995
10858,Nixon,22/12/1995
1408,Cutthroat Island,22/12/1995
524,Casino,22/11/1995
4584,Sense and Sensibility,13/12/1995
5,Four Rooms,9/12/1995
9273,Ace Ventura: When Nature Calls,10/11/1995
11517,Money Train,21/11/1995
8012,Get Shorty,20/10/1995
1710,Copycat,27/10/1995
9691,Assassins,6/10/1995
12665,Powder,27/10/1995
451,Leaving Las Vegas,27/10/1995
16420,Othello,15/12/1995
9263,Now and Then,20/10/1995
17015,Persuasion,27/9/1995
902,The City of Lost Children,16/5/1995
37557,In 1930's Shanghai violence was not the proble...,"[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_..."
9909,Dangerous Minds,11/8/1995
63,Twelve Monkeys,29/12/1995
78802,Wings of Courage,18/9/1996
9598,Babe,18/7/1995
47018,Carrington,8/11/1995
687,Dead Man Walking,29/12/1995
139405,Across the Sea of Time,20/10/1995
33689,It Takes Two,17/11/1995
9603,Clueless,19/7/1995
34615,"Cry, the Beloved Country",15/12/1995
31174,Richard III,29/12/1995
11443,Dead Presidents,6/10/1995
35196,Restoration,29/12/1995
9312,Mortal Kombat,18/8/1995
577,To Die For,20/5/1995
11861,How To Make An American Quilt,6/10/1995
807,Se7en,22/9/1995
10530,Pocahontas,14/6/1995
8391,When Night Is Falling,5/5/1995
629,The Usual Suspects,19/7/1995

In [14]:
# 11. Write a Pandas program to access those movies, released after 1995-01-01

small_df = movies_df[['title', 'release_date', 'budget', 'revenue', 'runtime']]
result = small_df[small_df['release_date'] > '1995-01-01']
result

,title,release_date,budget,revenue,runtime
id,,,,,
862,Toy Story,30/10/1995,30000000,373554033,81
15602,Grumpier Old Men,22/12/1995,0,0,101
31357,Waiting to Exhale,22/12/1995,16000000,81452156,127
45325,Tom and Huck,22/12/1995,0,0,97
9091,Sudden Death,22/12/1995,35000000,64350171,106
12110,Dracula: Dead and Loving It,22/12/1995,0,0,88
21032,Balto,22/12/1995,0,11348324,78
10858,Nixon,22/12/1995,44000000,13681765,192
1408,Cutthroat Island,22/12/1995,98000000,10017322,119
524,Casino,22/11/1995,52000000,116112375,178
5,Four Rooms,9/12/1995,4000000,4300000,98
11517,Money Train,21/11/1995,60000000,35431113,103
8012,Get Shorty,20/10/1995,30250000,115101622,105
1710,Copycat,27/10/1995,0,0,124
9691,Assassins,6/10/1995,50000000,30303072,132
12665,Powder,27/10/1995,0,0,111
451,Leaving Las Vegas,27/10/1995,3600000,49800000,112
9263,Now and Then,20/10/1995,12000000,27400000,100
17015,Persuasion,27/9/1995,0,0,104
37557,In 1930's Shanghai violence was not the proble...,"[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",0,30/4/1995,0
63,Twelve Monkeys,29/12/1995,29500000,168840000,129
47018,Carrington,8/11/1995,0,0,121
687,Dead Man Walking,29/12/1995,11000000,39363635,122
139405,Across the Sea of Time,20/10/1995,0,0,51
31174,Richard III,29/12/1995,0,0,104
11443,Dead Presidents,6/10/1995,10000000,0,119
35196,Restoration,29/12/1995,19000000,0,117
577,To Die For,20/5/1995,20000000,21284514,106
11861,How To Make An American Quilt,6/10/1995,10000000,23574130,116
807,Se7en,22/9/1995,33000000,327311859,127
8391,When Night Is Falling,5/5/1995,0,0,96

In [15]:
# 12. Write a Pandas program to sort movies on runtime in descending order.

# .sort_values() in order to sort Pandas DataFrame
descending = small_df.sort_values('runtime',ascending=False)
descending

,title,release_date,budget,revenue,runtime
id,,,,,
10858,Nixon,22/12/1995,44000000,13681765,192
524,Casino,22/11/1995,52000000,116112375,178
949,Heat,15/12/1995,60000000,187436818,170
4584,Sense and Sensibility,13/12/1995,16500000,135000000,136
9691,Assassins,6/10/1995,50000000,30303072,132
710,GoldenEye,16/11/1995,58000000,352194034,130
63,Twelve Monkeys,29/12/1995,29500000,168840000,129
807,Se7en,22/9/1995,33000000,327311859,127
31357,Waiting to Exhale,22/12/1995,16000000,81452156,127
11860,Sabrina,15/12/1995,58000000,0,127
1710,Copycat,27/10/1995,0,0,124
16420,Othello,15/12/1995,0,0,123
687,Dead Man Walking,29/12/1995,11000000,39363635,122
47018,Carrington,8/11/1995,0,0,121
1408,Cutthroat Island,22/12/1995,98000000,10017322,119
11443,Dead Presidents,6/10/1995,10000000,0,119
35196,Restoration,29/12/1995,19000000,0,117
11861,How To Make An American Quilt,6/10/1995,10000000,23574130,116
451,Leaving Las Vegas,27/10/1995,3600000,49800000,112
12665,Powder,27/10/1995,0,0,111
902,The City of Lost Children,16/5/1995,18000000,1738611,108
577,To Die For,20/5/1995,20000000,21284514,106
34615,"Cry, the Beloved Country",15/12/1995,0,676525,106
629,The Usual Suspects,19/7/1995,6000000,23341568,106
11862,Father of the Bride Part II,10/2/1995,0,76578911,106
9091,Sudden Death,22/12/1995,35000000,64350171,106
9087,The American President,17/11/1995,62000000,107879496,106
8012,Get Shorty,20/10/1995,30250000,115101622,105
8844,Jumanji,15/12/1995,65000000,262797249,104
17015,Persuasion,27/9/1995,0,0,104
31174,Richard III,29/12/1995,0,0,104
11517,Money Train,21/11/1995,60000000,35431113,103
15602,Grumpier Old Men,22/12/1995,0,0,101
9312,Mortal Kombat,18/8/1995,18000000,122195920,101
33689,It Takes Two,17/11/1995,0,0,101
9263,Now and Then,20/10/1995,12000000,27400000,100
9909,Dangerous Minds,11/8/1995,0,180000000,99
5,Four Rooms,9/12/1995,4000000,4300000,98
9603,Clueless,19/7/1995,12000000,0,97
45325,Tom and Huck,22/12/1995,0,0,97
8391,When Night Is Falling,5/5/1995,0,0,96
9273,Ace Ventura: When Nature Calls,10/11/1995,30000000,212385533,90
9598,Babe,18/7/1995,30000000,254134910,89
12110,Dracula: Dead and Loving It,22/12/1995,0,0,88
10530,Pocahontas,14/6/1995,55000000,346079773,81
862,Toy Story,30/10/1995,30000000,373554033,81
21032,Balto,22/12/1995,0,11348324,78
139405,Across the Sea of Time,20/10/1995,0,0,51
78802,Wings of Courage,18/9/1996,0,0,50
37557,In 1930's Shanghai violence was not the proble...,"[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",0,30/4/1995,0

In [16]:
# 14. Write a Pandas program to get the longest runtime and shortest runtime.
small_df = movies_df[['title', 'release_date', 'budget', 'revenue', 'runtime']]
longest = small_df['runtime'].max()
shortest = small_df['runtime'].min()
print(longest)
print(shortest)

192
0

In [17]:
# 15. Write a Pandas program to calculate the number of votes garnered by the 70% movie.
# .quantile() to find the count using percentage
votes = movies_df['vote_count'].quantile(0.70)
votes

402.6999999999999

In [18]:
# 16. Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes. 
small_df = movies_df[['title', 'runtime']]
small_df[
    ((small_df['runtime'] >= 30 & (small_df['runtime'] <=360)))
]

                                                    title  runtime
id
862                                             Toy Story       81
8844                                              Jumanji      104
15602                                    Grumpier Old Men      101
31357                                   Waiting to Exhale      127
11862                         Father of the Bride Part II      106
949                                                  Heat      170
11860                                             Sabrina      127
45325                                        Tom and Huck       97
9091                                         Sudden Death      106
710                                             GoldenEye      130
9087                               The American President      106
12110                         Dracula: Dead and Loving It       88
21032                                               Balto       78
10858                                               Nixon      192
1408                                     Cutthroat Island      119
524                                                Casino      178
4584                                Sense and Sensibility      136
5                                              Four Rooms       98
9273                       Ace Ventura: When Nature Calls       90
11517                                         Money Train      103
8012                                           Get Shorty      105
1710                                              Copycat      124
9691                                            Assassins      132
12665                                              Powder      111
451                                     Leaving Las Vegas      112
16420                                             Othello      123
9263                                         Now and Then      100
17015                                          Persuasion      104
902                             The City of Lost Children      108
37557   In 1930's Shanghai violence was not the proble...        0
9909                                      Dangerous Minds       99
63                                         Twelve Monkeys      129
78802                                    Wings of Courage       50
9598                                                 Babe       89
47018                                          Carrington      121
687                                      Dead Man Walking      122
139405                             Across the Sea of Time       51
33689                                        It Takes Two      101
9603                                             Clueless       97
34615                            Cry, the Beloved Country      106
31174                                         Richard III      104
11443                                     Dead Presidents      119
35196                                         Restoration      117
9312                                        Mortal Kombat      101
577                                            To Die For      106
11861                       How To Make An American Quilt      116
807                                                 Se7en      127
10530                                          Pocahontas       81
8391                                When Night Is Falling       96
629                                    The Usual Suspects      106